* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  background: linear-gradient(rgb(40, 110, 112), rgb(201, 125, 81));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 400px;
  background: #000;

  border-radius: 11px;
}

h1 {
  color: green;
  text-align: center;
  margin-top: 2px;
}

.display {
  color: #000;
  background: rgb(255, 255, 255);
  min-height: 10vh;
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 96%;
  border-radius: 10px;
  margin-left: 8px;
}

.buttons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  color: goldenrod;
  border: 1px solid rgb(255, 255, 255);
}

.equal {
  grid-column: span 2;
  background: #000;
}

.button:hover {
  background: grey;
}
